<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pool.name %>
</p>

<p>
  <strong>Start ip:</strong>
  <%= @pool.start_ip %>
</p>

<p>
  <strong>End ip:</strong>
  <%= @pool.end_ip %>
</p>

<p>
  <strong>Subnet:</strong>
  <%= @pool.subnet_id %>
</p>

<%= link_to 'Add An IP', new_pool_ip_path(@pool) %>
