<p id="notice"><%= notice %></p>

<h1>Switch Configs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Switch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @switch.switch_configs.each do |switch_config| %>
      <tr>
        <td><%= switch_config.name %></td>
        <td><%= switch_config.switch_id %></td>
        <td><%= link_to 'Show', switch_config %></td>
        <td><%= link_to 'Edit', edit_switch_config_path(switch_config) %></td>
        <td><%= link_to 'Destroy', switch_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Switch Config', new_switch_switch_config_path(@switch) %>
