<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-auto">
      <%= render 'switch_config_card', switch_config: @switch_config %>
    </div>
    <div class="col">

      <div class="row">
        <div class="col">
          <ul class="list-group">
            <li class="list-group-item fw-bold"><%= @switch_config.config_blocks.count %> blocks</li>
            <% @switch_config.config_blocks.each do |block| %>
              <% unless block.empty? %>
                <li class="list-group-item">
  <%= raw block %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>

      <hr>

      <p>
        <% if @switch_config.file.attached? %>
          Download <%= link_to @switch_config.file.filename, url_for(@switch_config.file) %><br>
        <% end %>
      </p>

      <p class="small">

      </p>

    </div>
</div>
