<p id="notice"><%= notice %></p>

<p>
  <strong>Slot number:</strong>
  <%= @slot.slot_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @slot.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @slot.description %>
</p>

<p>
  <strong>Switch:</strong>
  <%= @slot.switch_id %>
</p>

<div class="row">
  <div class="col">
    <ul class="list-unstyled">
      <li><strong>Ports</strong></li>
      <% @slot.ports.each do |port| %>
        <li><%= link_to port.port_number, port_path(port) %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', switch_slots_path(@slot.switch) %>
