<div class="row">
  <div class="col">
    <span class="h5">Welcome to the switch tool.</span>
  </div>
</div>

<div class="row mt-5 d-none">
  <div class="col-auto">
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center"><%= pluralize(@some_stats[:number_of_customers], "Customer") %></li>
      <li class="list-group-item text-center"><%= pluralize(@some_stats[:number_of_dhcp_servers], "DHCP Server") %></li>
      <li class="list-group-item text-center"><%= pluralize(@some_stats[:number_of_ips], "IP") %></li>
      <li class="list-group-item text-center"><%= pluralize(@some_stats[:number_of_ports], "Port") %></li>
      <li class="list-group-item text-center"><%= pluralize(@some_stats[:number_of_prs], "Provisioned Service") %></li>
      <li class="list-group-item text-center"><%= pluralize(@some_stats[:number_of_switches], "Switch") %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="goat_logger_channel">
    </div>
  </div>
</div>
