<%= form_with(model: [@portable, port]) do |form| %>
  <% if port.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(port.errors.count, "error") %> prohibited this port from being saved:</h2>

      <ul>
        <% port.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col-auto">

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <%= form.number_field :port_number, class: 'form-control', placeholder: 'port_number' %>
              <%= form.label :port_number %>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <%= form.text_field :name, class: 'form-control', placeholder: 'name' %>
              <%= form.label :name %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <%= form.number_field :down_rate, class: 'form-control', placeholder: 'down_rate' %>
              <%= form.label :down_rate %>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <%= form.number_field :up_rate, class: 'form-control', placeholder: 'up_rate' %>
              <%= form.label :up_rate %>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <%= form.select :rate_unit, ['kb','bits','mb'], {disabled: ['bits','mb']}, class: 'form-select', aria: {label: 'server-type-select'} %>
              <%= form.label :rate_unit %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <%= form.text_area :description, class: 'form-control', placeholder: 'description' %>
              <%= form.label :description %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="actions">
              <%= form.submit class: 'btn btn-success' %>
              <% if port.persisted? %>
                <%= link_to 'Cancel', switch_path(port.parent_switch), class: 'btn btn-danger' %>
              <% else %>
                <%= link_to 'Cancel', switch_path(@portable), class: 'btn btn-danger' %>
              <% end %>

            </div>
          </div>
        </div>

      </div>
  </div>
<% end %>
