<table class="table table-striped">
  <thead>
    <tr>
      <th>Port</th>
      <th>Down/Up Rates</th>
      <th class="text-center">Set On Switch</th>
      <th>Belongs To</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% ports.each do |port| %>
      <tr>
        <td><%= link_to port.name, port %></td>
        <td><%= "#{port.down_rate}#{port.rate_unit} / #{port.up_rate}#{port.rate_unit}" %></td>
        <td class="text-center">
          <% if port.switch_informed %>
            <%= port.switch_informed %>
          <% else %>
            <span class="fst-italic small">Never</span>
          <% end %>
        </td>
        <td><%= link_to port.portable.name, port.portable %>
        <td><%= link_to 'Edit', edit_port_path(port) %></td>
        <td><%= link_to 'Destroy', port, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
