<%= form_with(model: [shared_network, subnet]) do |form| %>
  <% if subnet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subnet.errors.count, "error") %> prohibited this subnet from being saved:</h2>

      <ul>
        <% subnet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :network_address %>
    <%= form.text_field :network_address %>
  </div>

  <div class="field">
    <%= form.label :cidr %>
    <%= form.number_field :cidr %>
  </div>

  <div class="field">
    <%= form.label :shared_network_id %>
    <%= form.text_field :shared_network_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
