<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shared_network.name %>
</p>

<p>
  <strong>Relayed from ip:</strong>
  <%= @shared_network.relayed_from_ip %>
</p>

<p>
  <strong>Dhcp server:</strong>
  <%= @shared_network.dhcp_server_id %>
</p>

<%= link_to 'Add A Subnet', new_shared_network_subnet_path(@shared_network) %>
