<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <%= switch.name %>
    </h5>
    <h6 class="card-subtitle mb-4 text-muted">
      <%= switch.manufacturer %> <%= switch.model %>
    </h6>

    <div class="row">
        <div class="col-auto">
          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item">Manage at <%= switch.management_ip %></li>
            <li class="list-group-item">
              <%= link_to pluralize(switch.slots.count, 'slot'), switch_slots_path(switch) %>
            </li>
            <li class="list-group-item">
              <%= link_to pluralize(switch.ports.count, 'port'), switch_ports_path(switch) %>
            </li>
          </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
          <%= link_to "Edit This Switch", edit_switch_path(switch) %>
        </div>
    </div>

  </div>
</div>
