<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-auto">
      <%= render "switch_card", {switch: @switch} %>
    </div>
    <div class="col">
      <div class="row">
          <div class="col">
            <h4>Slots</h4>
            <%= render "/slots/slots_table", slots: @switch.slots %>
          </div>
      </div>
      <div class="row">
          <div class="col">
            <h4>Onboard Ports</h4>
            <%= render "/ports/ports_table", ports: @switch.ports %>
          </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <%= link_to 'Add A Slot', new_switch_slot_path(@switch), class: "btn btn-success", type: "button" %>
        <%= link_to 'Add A Port', new_switch_port_path(@switch), class: "btn btn-success", type: "button" %>
    </div>
</div>
<%= link_to 'Back', switches_path %>
