<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-auto">
      <%= render "switch_card", {switch: @switch} %>
    </div>
    <div class="col">
      <div class="row">
          <div class="col">
            <span class="h4">Slots</span>
            <%= link_to 'Add A Slot', new_switch_slot_path(@switch), class: "btn btn-success float-end", type: "button" %>
            <%= render "/slots/slots_table", slots: @switch.slots %>
          </div>
      </div>
      <div class="row">
          <div class="col">
            <span class="h4">Onboard Ports</span>
            <%= link_to 'Add A Port', new_switch_port_path(@switch), class: "btn btn-success float-end", type: "button" %>
            <%= render "/ports/ports_table", ports: @switch.ports %>
          </div>
      </div>
    </div>
</div>
