<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-auto">
      <%= render "switch_card", {switch: @switch} %>
    </div>
</div>

<div class="row">
    <div class="col">
        <ul class="list-unstyled">
          <li><strong>Slots</strong></li>
          <% @switch.slots.each do |slot| %>
            <li><%= link_to slot.slot_number, slot_path(slot) %></li>
          <% end %>
        </ul>
    </div>
    <div class="col">
        <ul class="list-unstyled">
          <li><strong>Ports</strong></li>
          <% @switch.ports.each do |port| %>
            <li><%= link_to port.port_number, port_path(port) %></li>
          <% end %>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <%= link_to 'Add A Slot', new_switch_slot_path(@switch), class: "btn btn-success", type: "button" %>
        <%= link_to 'Add A Port', new_switch_port_path(@switch), class: "btn btn-success", type: "button" %>
    </div>
</div>
<%= link_to 'Back', switches_path %>
