<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <% if flash[:message] %>
      <%= flash[:message] %>
    <% end %>
  </div>
</div>

<div class="row">
    <div class="col-3">

      <%= render "switch_card", {switch: @switch} %>

      <%= render 'config_backup_card' %>
    </div>

    <div class="col">

      <div class="row">
        <div class="col">
          <span class="h4">Things SNMP Told Me</span>

          <div class="row">
            <div class="col-4">
              <span class="small">
                <%= snmp_get_sys_descr @switch.management_ip %>
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-auto">

              <%= render "snmp_interfaces_table", { interfaces: snmp_get_if_table(@switch) } %>

            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="h4">Onboard Ports</span>
          <%= link_to 'Add A Port', new_switch_port_path(@switch), class: "btn btn-success float-end", type: "button" %>

          <% if @switch.ports.any? %>
            <%= render "/ports/ports_table", ports: @switch.ports.order(:id) %>
          <% else %>
            <div class="row mb-5">
                <div class="col text-center">
                  <span class="fw-light fst-italic text-dark">No Onboard Ports Here</span>
                </div>
            </div>
          <% end %>
        </div>
      </div>

      <% if @switch.slots.any? %>
        <div class="row mb-4">
          <div class="col">
            <span class="h4">Slots</span>
            <%= link_to 'Add A Slot', new_switch_slot_path(@switch), class: "btn btn-success float-end", type: "button" %>

            <% if @switch.slots.any? %>
              <%= render "/slots/slots_table", slots: @switch.slots.order(:slot_number) %>
            <% else %>
              <div class="row mb-5">
                  <div class="col text-center">
                    <span class="fw-light fst-italic text-dark">No Slots Here</span>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end  %>

    </div>
</div>
