<%= form_with(model: provisioning_record) do |form| %>
  <% if provisioning_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provisioning_record.errors.count, "error") %> prohibited this provisioning_record from being saved:</h2>

      <ul>
        <% provisioning_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col-auto">
        <div class="form-floating">
          <%= form.select :location_id, provisioning_record.select_location_array, {}, class: 'form-select', aria: {label: 'location-select'} %>
          <%= form.label :location_id %>
        </div>

        <div class="form-floating">
          <%= form.select :port_id, provisioning_record.select_port_array, {}, class: 'form-select', aria: {label: 'port-select'} %>
          <%= form.label :port_id %>
        </div>

        <div class="form-floating">
          <%= form.select :ip_id, provisioning_record.select_ip_array, {}, class: 'form-select', aria: {label: 'ip-select'} %>
          <%= form.label :ip_id %>
        </div>

        <div class="form-floating">
          <%= form.select :ont_id, provisioning_record.select_ont_array, {}, class: 'form-select', aria: {label: 'ont-select'} %>
          <%= form.label :ont_id %>
        </div>

        <div class="actions">
          <%= form.submit class: 'btn btn-success' %>
        </div>
      </div>
  </div>

<% end %>
