<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      Provisioning Record
    </h5>
    <h6 class="card-subtitle mb-4 text-muted text-center">
      <%= provisioning_record.display_customer %>
    </h6>

    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center">
        Location: <%= provisioning_record.display_location %>
      </li>
      <li class="list-group-item text-center">
        ONT: <%= provisioning_record.display_ont %>
      </li>
      <li class="list-group-item text-center">
        IP: <%= provisioning_record.display_ip %>
      </li>

    </ul>

    <div class="row">
        <div class="col text-center">
          <%= link_to "[Edit This Record]", edit_provisioning_record_path(provisioning_record), class: 'small fw-light' %>
        </div>
    </div>

  </div>
</div>
