<%= form_with(model: ont) do |form| %>
  <% if ont.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ont.errors.count, "error") %> prohibited this ont from being saved:</h2>

      <ul>
        <% ont.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col-auto">
        <div class="form-floating mb-3">
          <%= form.text_field :name, class: 'form-control', placeholder: 'name' %>
          <%= form.label :name %>
        </div>

        <div class="form-floating mb-3">
          <%= form.text_field :manufacturer, class: 'form-control', placeholder: 'manufacturer' %>
          <%= form.label :manufacturer %>
        </div>

        <div class="form-floating mb-3">
          <%= form.text_field :model, class: 'form-control', placeholder: 'model' %>
          <%= form.label :model %>
        </div>

      </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
    <%= link_to 'Cancel', onts_path, class: 'btn btn-danger' %>
  </div>
<% end %>
