<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% onts.each do |ont| %>
      <tr>
        <td><%= link_to ont.name, ont %></td>
        <td><%= ont.manufacturer %></td>
        <td><%= ont.model %></td>
        <td><%= link_to 'Edit', edit_ont_path(ont) %></td>
        <td><%= link_to 'Destroy', ont, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
