<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <%= link_to "GA Aux", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <%= link_to "Switches", switches_path, class: 'nav-link' %>
        </li>

        <li class="nav-item ">
          <%= link_to "AccessX", accessx_index_path, class: 'nav-link d-none', aria: {disabled:'true'} %>
        </li>

        <li class="nav-item">
          <%= link_to "Customers", customers_path, class: 'nav-link d-none', aria: {disabled:'true'} %>
        </li>

        <li class="nav-item">
          <%= link_to "DHCP Servers", dhcp_servers_path, class: 'nav-link d-none', aria: {disabled:'true'} %>
        </li>

        <li class="nav-item">
          <%= link_to "ONTs", onts_path, class: 'nav-link d-none', aria: {disabled:'true'} %>
        </li>

        <li class="nav-item">
          <%= link_to 'PRs', provisioning_records_path, class: 'nav-link d-none', aria: {disabled:'true'} %>
        </li>

        <li class="nav-item d-none">
          <%= link_to 'UI Example of Disabled', provisioning_records_path, class: 'nav-link disabled', aria: {disabled:'true'} %>
        </li>

      </ul>
    </div>
  </div>
</nav>
