<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-auto"> <!-- left -->
      <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <%= form.text_field :first_name, class: 'form-control', placeholder: 'first_name' %>
              <%= form.label :first_name %>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <%= form.text_field :last_name, class: 'form-control', placeholder: 'last_name' %>
              <%= form.label :last_name %>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <%= form.text_field :company_name, class: 'form-control', placeholder: 'company_name' %>
              <%= form.label :company_name %>
            </div>
          </div>
      </div>
    </div>

    <div class="col-auto"> <!-- right -->
      <%= form.fields_for :address do |address_form| %>
        <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <%= address_form.text_field :address1, class: 'form-control', placeholder: 'address1' %>
                <%= address_form.label :address1 %>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <%= address_form.text_field :address2, class: 'form-control', placeholder: 'address2' %>
                <%= address_form.label :address2 %>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-auto">
              <div class="form-floating mb-3">
                <%= address_form.text_field :city, class: 'form-control', placeholder: 'city' %>
                <%= address_form.label :city %>
              </div>
            </div>
            <div class="col-auto">
              <div class="form-floating mb-3">
                <%= address_form.text_field :state, class: 'form-control', placeholder: 'state', list: 'statesListOptions' %>
                <%= address_form.label :state %>
                <datalist id="statesListOptions">
                  <option value="AL">
                  <option value="AK">
                  <option value="AZ">
                  <option value="AR">
                  <option value="CA">
                  <option value="CO">
                  <option value="CT">
                  <option value="DE">
                  <option value="FL">
                  <option value="GA">
                  <option value="HI">
                  <option value="ID">
                  <option value="IL">
                  <option value="IN">
                  <option value="IA">
                  <option value="KS">
                  <option value="KY">
                  <option value="LA">
                  <option value="ME">
                  <option value="MD">
                  <option value="MA">
                  <option value="MI">
                  <option value="MN">
                  <option value="MS">
                  <option value="MO">
                  <option value="MT">
                  <option value="NE">
                  <option value="NV">
                  <option value="NH">
                  <option value="NJ">
                  <option value="NM">
                  <option value="NY">
                  <option value="NC">
                  <option value="ND">
                  <option value="OH">
                  <option value="OK">
                  <option value="OR">
                  <option value="PA">
                  <option value="RI">
                  <option value="SC">
                  <option value="SD">
                  <option value="TN">
                  <option value="TX">
                  <option value="UT">
                  <option value="VT">
                  <option value="VA">
                  <option value="WA">
                  <option value="WV">
                  <option value="WI">
                  <option value="WY">
                </datalist>
              </div>
            </div>
            <div class="col-auto">
              <div class="form-floating mb-3">
                <%= address_form.text_field :postal_code, class: 'form-control', placeholder: 'postal_code' %>
                <%= address_form.label :postal_code %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
