<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-auto"> <!-- left -->
      <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <%= form.text_field :first_name, class: 'form-control', placeholder: 'first_name' %>
              <%= form.label :first_name %>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <%= form.text_field :last_name, class: 'form-control', placeholder: 'last_name' %>
              <%= form.label :last_name %>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <%= form.text_field :company_name, class: 'form-control', placeholder: 'company_name' %>
              <%= form.label :company_name %>
            </div>
          </div>
      </div>
    </div>

    <div class="col-auto"> <!-- right -->
        <%= render "/addresses/nested_form", form: form %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
    <% if customer.persisted? %>
      <%= link_to 'Cancel', customer_path(customer), class: 'btn btn-danger', type: 'button' %>
    <% else %>
      <%= link_to 'Cancel', customers_path, class: 'btn btn-danger', type: 'button' %>
    <% end %>
  </div>
<% end %>
