<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @customer.company_name %>
</p>

<% if @customer.address %>
  <div class="row">
      <div class="col-auto">
        <%= render "/addresses/address_card", address: @customer.address %>
      </div>
  </div>
<% end %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |

<%= link_to "Create address for #{@customer.full_name}", new_customer_address_path(@customer) %> |
<%= link_to 'Back', customers_path %>
