<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-auto">
      <%= render "customer_card", customer: @customer %>
      <% if @customer.address %>
        <div class="row">
            <div class="col">
              <%= render "/addresses/address_card", address: @customer.address %>
            </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <div class="row">
          <div class="col">
            <span class="h4">Service Locations</span>
            <%= link_to 'Add A Service Location', new_customer_location_path(@customer), class: "btn btn-success float-end", type: "button" %>
            <%= render "/locations/locations_table", locations: @customer.locations %>
          </div>
      </div>
    </div>
</div>

<%= link_to 'Edit', edit_customer_path(@customer) %> |

<%= link_to "Create address for #{@customer.full_name}", new_customer_address_path(@customer) %> |
<%= link_to 'Back', customers_path %>
