<%= form_with(model: dhcp_server) do |form| %>
  <% if dhcp_server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dhcp_server.errors.count, "error") %> prohibited this dhcp_server from being saved:</h2>

      <ul>
        <% dhcp_server.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col-auto">
        <div class="form-floating mb-3">
          <%= form.text_field :name, class: 'form-control', placeholder: 'name' %>
          <%= form.label :name %>
        </div>

        <div class="form-floating mb-3">
          <%= form.select :server_type, [['Dnsmasq','dnsmasq'],['ISC-DHCP','isc-dhcp']], {}, class: 'form-select', aria: {label: 'server-type-select'} %>
          <%= form.label :server_type %>
        </div>
      </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
