<%= form_with(model: [@customer, location]) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col-auto">
        <div class="form-floating mb-3">
          <%= form.text_field :name, class: 'form-control', placeholder: 'name' %>
          <%= form.label :name %>
        </div>
      </div>
      <div class="col-auto">
        <%= render "/addresses/nested_form", form: form %>
      </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
    <%= link_to 'Cancel', customer_path(@customer), class: 'btn btn-danger', type: 'button' %>
  </div>
<% end %>
