<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @ip.address %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @ip.pool_id %>
</p>

<%= link_to 'Edit', edit_ip_path(@ip) %> |
<%= link_to 'Back', ips_path %>
